:root {
  --font-family-primary: sans-serif;

  --color-background: rgb(244, 233, 239);
  --color-red: rgb(235, 89, 40);
  --color-blue: rgb(24, 67, 222);
  --color-black: rgb(0, 0, 8);
  --color-green: rgb(5, 190, 164);
  --color-yellow: rgb(242, 185, 16);

  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 32px;
  --font-size-xl: 48px;

  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 32px;
}
