.button {
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius);
  padding: var(--space-md) var(--space-lg);
  background: var(--color-background);
  border: 1px solid var(--color-gray);
  color: var(--color-black);
  fill: var(--color-white);
  font-size: var(--font-size-md);
  transition: 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.button--transparent {
  background: transparent;
  border: 0;
}

.button--square {
  width: 30px;
  height: 30px;
}

.sign__out__button {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--color-yellow);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  justify-self: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.sign__out__button:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 2px 0px var(--color-black));
}
